.display {
    width: 70%;
    height: 130px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   

  }
  
  .display p {
    padding-right: 10px;
  }