.display {
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 125px;
    border: 1px solid grey;
    border-top: none;

  }
  
  .display p {
    padding-right: 10px;
  }